a:link {
    text-decoration: none;
    color: var(--text-result);
}

a:visited {
    color: var(--text-result);
}

a:hover {
    color: var(--text-result);
}

body {
    text-decoration: none;
    font-size: 62.5%;
    font-family: var(--font-roboto);
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.btn-unchecked,
#btn-copy {
    border-color: var(--button-color-border);
    background-image: var(--button-color-image-inative);
}

#btn-copy {
    display: none;
    width: 290px;
    margin-bottom: 10px;
    color: var(--text-color-inative);
    background-image: var(--button-color-image-inative);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
}

textarea {
    font-family: var(--font-roboto);
    font-size: 2.6rem;
    font-weight: 400;
    padding: 10px;
    line-height: 32px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    text-transform: lowercase;
    border-color: var(--button-color-border);
    background-color: var(--textarea-color);
    color: var(--text-result);
    resize: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 67px;
    font-size: 2.0rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: var(--border-radius);
    border-color: var(--button-color-border);
    color: var(--text-color-button);
    text-transform: uppercase;
    margin: var(--margin-space);
    cursor: pointer;
    /* border: 1px solid; */
    background-color: var(--button-color);
    background-image: var(--button-color-image);
}

.container {
    margin: 0 auto;
    width: 99.5%;
    height: auto;
    min-width: 320px;
    max-width: 1902px;
    background-color: var(--main-color);
}

main {
    display: flex;
    width: 100%;
    height: 875px;
    padding: 16px;
    border-radius: var(--border-radius);
    margin: var(--margin-space);
    margin-bottom: 0px;
    background-color: var(--main-color);
}

#capa {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.capa-logo {
    width: 500px;
    height: 250px;
}

.capa-info {
    width: inherit;
    height: auto;
    margin: var(--margin-space);
}

.capa-button {
    display: flex;
    justify-content: center;
    width: inherit;
    height: auto;
    margin: var(--margin-space);
}

section {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 850px;
    margin: var(--margin-space);
    background-color: var(--main-color);
}

header-section,
#header-section {
    display: flex;
    width: 98.5%;
    height: 60px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    background-color: var(--header-color);
    margin-top: 0;
}

.brand {
    width: 120px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.brand a h1 {
    font-size: 2.6rem;
    font-weight: 700;
}

.titulo h1 {
    display: flex;
    width: 1300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: var(--text-result);
    font-size: 2.6rem;
}

.site-mode{
  width: 50px;
  height: inherit;
  cursor: pointer;
  background-image: var(--screen-mode);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50% 50%;
}

section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5%;
    height: 800px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
}

footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5%;
    height: 92px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
}

aside,
#aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    min-width: 330px;
    height: 850px;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--aside-color);
    border-radius: var(--border-radius);
}

#aside-text {
    display: none;
    width: 96%;
    height: inherit;
    padding: 8px;
    text-align: left;
    text-wrap: wrap;
    white-space: normal;
    font-size: 2.6rem;
    font-weight: 400;
    font-family: var(--font-roboto);
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    color: var(--text-result);
    margin-bottom: 15px;
    border-color: var(--button-color-border);
    border: 2px solid;
    background-color: var(--textarea-color);
}

#aside-center {
    display: flex;
    width: 98%;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.asideh2 {
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: var(--margin-space);
}

#aside-center p {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: var(--margin-space);
}

aside .aside-footer {
    display: flex;
    width: 98%;
    height: auto;
    justify-content: space-around;
    align-items: end;
    padding: 10px;
}

.aside-footer img {
    width: 70%;
    height: auto;
}



aside p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 25px;
    justify-content: end;
    padding-top: 8px;
    padding-right: 15px;
    margin: var(--margin-space);
    background-color: var(--text-result);

}

footer h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

@media only screen and (max-width: 992px) {

    header-section,
    #header-section {
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section,
    main {
        height: 955px;
    }

    .titulo h1 {
        text-align: start;
    }
}

@media only screen and (max-width: 600px) {

    .container {
        height: auto;
    }

    header-section,
    #header-section {
        white-space: normal;
        text-align: center;
        font-size: 1.4rem;
    }

    main {
        flex-direction: column;
        align-items: center;
        height: 1480px;

    }

    section-main #textareainfo {
        font-size: 2.4rem;
        height: 400px;
    }

    section,
    aside,
    #aside {
        width: 100%;
    }

    .asideh2,
    #aside-center p,
    footer h1 {
        font-size: 2.8rem;
    }

    section {
        height: 650px;
    }
}

@media only screen and (max-width: 480px) {

    .container {
        height: auto;
        min-width: 320px;
    }
}