@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --margin-space: 3px;
    --border-radius: 10px;
    --font-roboto: 'Roboto', sans-serif;

    --border-radius: 16px;
    --margin-space: 6px;

    /* COLOR */
    --button-color: #32b670;
}

a:link {
    text-decoration: none;
}

body {
    text-decoration: none;
    font-size: 62.5%;
    font-family: var(--font-roboto);
    border-radius: var(--border-radius);
    color: white;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 67px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    color: #99ffd8;
    margin: var(--margin-space);
    cursor: pointer;
    border: none;
    background-image: url('../img/buttoncolor.png');
}

.btn-unchecked,
#btn-copy {
    border-color: #32b670;
    background-image: url('../img/bck_teal.png');
}

#btn-copy {
    display: none;
    width: 290px;
    margin-bottom: 10px;
    background-image: url('../img/bck_teal.png');

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
}

textarea {
    font-family: var(--font-roboto);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px;
    line-height: 32px;
    background-image: url('../img/bck-black.png');
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    text-transform: lowercase;
    border-image:  url('../img/bck-gray.png');
}

.container {
    width: 99%;
    height: auto;
    background-image: url('../img/bck_graydark.png');

}

main {
    display: flex;
    width: 100%;
    height: 875px;
    padding: 16px;
    border-radius: var(--border-radius);
    margin: var(--margin-space);
    margin-bottom: 0px;
}

section {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    width: 1495px;
    height: 850px;
    margin: var(--margin-space);
}

header-section {
    display: flex;
    width: 1480px;
    height: 60px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    background-image: url('../img/bck-black.png');
    margin-top: 0;
}

.brand {
    width: 120px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.brand a h1{
    font-size: 2.0rem;
    font-weight: 700;
}

.titulo {
    display: flex;
    width: 1300px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1490px;
    height: 800px;
    /* background-image: url('../img/bck-black.png');   margin: var(--margin-space); */
    border-radius: var(--border-radius);
}

footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1490px;
    height: 92px;
    background-image: url('../img/bck-gray.png');
    margin: var(--margin-space);
    border-radius: var(--border-radius);
}

#aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 850px;
    padding: 10px;
    color: white;
    background-image: url('../img/bck-black.png');
    border-radius: var(--border-radius);
}

#aside-text {
    display: none;
    width: 96%;
    height: inherit;
    padding: 8px;
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    background-image: url('../img/bck-black.png');
    color: white;
    margin-bottom: 15px;
}

#aside-center {
    display: flex;
    width: inherit;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
}

.asideh2 {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: var(--margin-space);
    color: white;
}

#aside-center p {
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: var(--margin-space);
    color: white;
}

.aside-footer {
    display: flex;
    width: inherit;
    height: auto;
    justify-content: space-around;
    align-items: end;
    padding: 10px;
}

.aside-footer img {
    width: 70%;
    height: auto;
}



aside p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: start;
    border-radius: var(--border-radius);
    width: 100%;
    height: 25px;
    justify-content:end;
    padding-top: 3px;
    margin: var(--margin-space);
    background-image: url('../img/bck-layout.png');
}

footer h1 {
    font-size: 1.0rem;
    font-weight: 400;
}