@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --margin-space: 3px;
    --border-radius: 10px;
    --font-roboto: 'Roboto', sans-serif;

    --border-radius: 16px;
    --margin-space: 6px;

    /* COLOR */
    --button-color: #32b670;
    --text-result:  #32b670;

    font-size: 62.5%; 
}

a:link {
    text-decoration: none;
    color: #32b670;
}

a:visited{
    color: #32b670;
}

a:hover{
    color: #32b670;
}

body {
    text-decoration: none;
    font-size: 62.5%;
    font-family: var(--font-roboto);
    border-radius: var(--border-radius);
    color: white;
    background-color: #353536;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 67px;
    font-size: 2.0rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: var(--border-radius);
    color: white;
    text-transform: uppercase;
    margin: var(--margin-space);
    cursor: pointer;
    border: none;
    background-image: url('../img/buttoncolor.png');
}

.btn-unchecked,
#btn-copy {
    border-color: #32b670;
    background-image: url('../img/bck_teal.png');
}

#btn-copy {
    display: none;
    width: 290px;
    margin-bottom: 10px;
    background-image: url('../img/bck_teal.png');

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
}

textarea {
    font-family: var(--font-roboto);
    font-size: 2.0rem;
    font-weight: 400;
    padding: 10px;
    line-height: 32px;
    background-image: url('../img/bck-black.png');
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    text-transform: lowercase;
    border-image:  url('../img/bck-gray.png');
    color: white;
}

.container {
    margin:0 auto;
    width: 99.5%;
    height: auto;
    min-width: 320px;
    max-width: 1902px;
    background-color: #1c1d22;
}

main {
    display: flex;
    width: 100%;
    height: 875px;
    padding: 16px;
    border-radius: var(--border-radius);
    margin: var(--margin-space);
    margin-bottom: 0px;
    background-color: #1c1d22;
}

#capa{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.capa-info{
    width: inherit;
    height:auto;
    margin: var(--margin-space);
}

.capa-button{
    display: flex;
    justify-content: center;
    width: inherit;
    height: auto;
    margin: var(--margin-space);
}

section {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
     width: 82%;
    height: 850px;
    margin: var(--margin-space);
    background-image: url('../img/bck_graydark.png');
}

header-section,
#header-section{
    display: flex;
    width: 98.5%;
    height: 60px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    background-image: url('../img/bck-black.png');
    background-color: black;
    margin-top: 0;
}

.brand {
    width: 120px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.brand a h1{
    font-size: 2.6rem;
    font-weight: 700;
}

.titulo h1{
    display: flex;
    width: 1300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6rem;
}

section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5%;
    height: 800px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
}

footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5%;
    height: 92px;
    margin: var(--margin-space);
    border-radius: var(--border-radius);
}

aside,
#aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    min-width: 330px;
    height: 850px;
    padding: 10px;
    color: white;
    background-image: url('../img/bck-black.png');
    border-radius: var(--border-radius);
}

#aside-text {
    display: none;
    width: 96%;
    height: inherit;
    padding: 8px;
    text-align: left;
    text-wrap: wrap;
    white-space: normal;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-roboto);
    margin: var(--margin-space);
    border-radius: var(--border-radius);
    color: #99ffd8;
    margin-bottom: 15px;
    border: 2px solid #99ffd8;
    background-image: url('../img/bck-black.png');
}

#aside-center {
    display: flex;
    width: 98%;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
}

.asideh2 {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: var(--margin-space);
    color: white;
}

#aside-center p {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: var(--margin-space);
    color: white;
}

aside .aside-footer {
    display: flex;
    width: 98%;
    height: auto;
    justify-content: space-around;
    align-items: end;
    padding: 10px;
}

.aside-footer img {
    width: 70%;
    height: auto;
}



aside p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: start;
    border-radius: var(--border-radius);
    width: 98%;
    height: 25px;
    justify-content: end;
    padding-top: 3px;
    padding-right: 15px;
    margin: var(--margin-space);
    background-image: url('../img/bck-layout.png');
    background-color: aqua;
}

footer h1 {
    font-size: 1.0rem;
    font-weight: 400;
}

@media only screen
and (max-width: 992px){
    header-section,
    #header-section{    
     flex-direction: column;
     height: auto;
     text-align: center;
     justify-content: center;
     align-items: center;
}

section,main{
    height: 955px;
}

.titulo h1{
    /* font-size: 1.8rem; */
    text-align: start;
}
}

@media only screen
and (max-width: 600px){

    .container{
        height:auto;
    }
    header-section,
    #header-section{  
       white-space: normal;
       text-align: center;
       font-size: 1.4rem;
    } 

    main{
        flex-direction: column;   
        align-items: center;  
        height: 1480px;

    }

    section-main #textareainfo{
        font-size: 2.4rem;
        height: 400px;
    }

    section,
    aside,
    #aside{
        width: 100%;
    }

    .asideh2,#aside-center p,footer h1{
        font-size: 2.8rem;
    }

    section{
        height: 650px; 
    }
    
    
}