* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --margin-space: 3px;
    --border-radius: 10px;
    --font-roboto: 'Roboto', sans-serif;

    --border-radius: 16px;
    --margin-space: 6px;

    /* COLOR */
    --button-color: #32b670;
    --text-result: #32b670;
    --text-color: white;

    /* kacground-image */
    --darkgray: url('../img/bck_graydark.png');
    --bck-black: url('../img/bck-black.png');
    --btn-teal: url('../img/bck_teal.png');

    font-size: 62.5%;
}